JWT_SECRET=thay-bang-chuoi-32-ky-tu-tro-len
NEXT_PUBLIC_APP_URL=https://khomanguon.io.vn
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
RESEND_API_KEY=re_eovyyvBz_9QfvPpr4fhybpL9QBjs5SNWN
EMAIL_FROM="Kho Mã Nguồn <noreply@khomanguon.io.vn>"
